*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family:Arial, Helvetica, sans-serif;
}

body {
 height: 100%;
 width: 100%;
}
.parent{
  padding: 20px;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.card{
  background-color: pink;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
  
}

.card button{
  background-color: rgb(233, 226, 226);
  color: black;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}