*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    
}

.parent{
  height: 100%;
  width: 100%;
  background-color: rgb(239, 216, 216);
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 100px;
  justify-content: center;
}
.card{
    height: 330px;
    width: 280px;
    background-color: rgb(244, 238, 238);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #d7d7d7ce;
}

.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.top img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #dadada;
}
.top button{
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 5px;
    gap: 3px;
    background-color: transparent;
    color: #8b8b8b;
}


.center h3{
    font-size:17px;
    font-weight: 500;
}
.center h3 span{
    font-size: 9px;
    font-weight: 400;
    color: #8b8b8b;
}
.center h2{
    font-size: 20px;
    font-weight: 600;
}

.tag{
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

.tag h4{
    font-size: 10px;
    background-color: #dadada;
    font-weight: 500;
    color: black;
    padding: 4px 8px;
    border-radius: 5px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid #d7d7d7ce;
    padding: 10px 0;
}
.footer button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
.footer h3{
    font-size: 17px;
}
.footer p{
    font-size: 12px;
    color: #b1b1b1;
}


